@(title: String)

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>HSSE | @title</title>
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.versioned("images/favicon.png")">

        <meta content="width=device-width, initial-scale=1" name="viewport"/>
        <meta charset="UTF-8">
            <!-- Styles -->
        <link href="favicon.png" rel="shortcut icon">
        <link href="apple-touch-icon.png" rel="apple-touch-icon">
        <link href="https://fonts.googleapis.com/css?family=Rubik:300,400,500" rel="stylesheet" type="text/css">
    </head>
    <body>
        <div class="all-wrapper menu-side with-side-panel">
            <div class="layout-w">
                <h1>Hello world</h1>
            </div>
            <div class="display-type"></div>

        </div>
            <!-- Javascripts -->
    </body>
</html>